* {margin : 0 ; padding : 0;} /* 全部 */

section{
    border : 2px solid black;
    padding-top : 40px;
    padding-bottom: 120px;   /*padding = 留白*/
    background-image : url("https://www.5507.com.tw/wp-content/uploads/2015/11/%E9%A6%96%E9%A0%81%E8%83%8C%E6%99%AF-3.jpg");
}

canvas{
    display: block;
    border: 1px solid saddlebrown;
    margin: 10px auto 0px; /*margin是和其他物件的距離*/
    /*cursor: url("Brush-icon.cur"),auto;*/
    background-color: white;
}

button{
    outline:0;
    border:0;
}

#but_tool
{
    width : 800px;
    height: 115px;
    margin: 20px auto 0px;
}

#Tools
{
    width: 800px;
    height: 150px;
    margin: 0px auto;
}

#color
{
    width : 800px;
    height : 40px;

}


.color_but
{
    cursor: pointer;
    width: 14.28%;
    height: 30px;
    margin-top: 5px;
    float: left;
}

.color_but:hover {
    transform: scale(1.2);
    -ms-transform: scale(1.2);  /* IE 9 */  
}

#black{ background-color: rgb(10, 8, 8);}
#red{ background-color: red;}
#green{ background-color: green;}
#white{ background-color: snow;}
#blue{ background-color: blue;}
#yellow{ background-color: yellow;}
#gray{ background-color: gray;}

#advancedTools{
    width: 100%;
    height: 110px;
}
#Clear
{
    font: italic bold 40px/30px Georgia, serif; 
    font-style: inherit;
    background-color: goldenrod;
}

.adv_but
{
    float: left;
    cursor: pointer;
    width: 19.8%;
    height: 50px;
    margin:3px auto 0px;
}
.adv_but_4_30
{
    float: left;
    cursor: pointer;
    width: 19.25%;
    height:45px;
    margin:3px auto 0px;
}
.adv_but_4_15
{
    float: left;
    cursor: pointer;
    width: 14%;
    height:45px;
    margin:3px auto 0px;
}
.adv_but_4_5
{
    float: left;
    cursor: pointer;
    width: 5%;
    height:45px;
    margin:3px auto 0px;
}
.adv_but:hover {
    transform: scale(1.01);
    -ms-transform: scale(1.01);  /* IE 9 */ 
    opacity: 0.8;
}


#brush1 {font-size: 10px;   color:rgb(168, 90, 0);background-image: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);}
#brush2 {font-size: 19px;  font-family:"Microsoft JhengHei"; color:rgb(112, 61, 2);background-image: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);}
#brush3 {font-size: 25px;  font-family:"Microsoft JhengHei"; color:rgb(112, 61, 2); background-image: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);}
#brush4 {font-size: 33px;  font-family:"Microsoft JhengHei"; color:rgb(112, 61, 2);background-image: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);}

#graph {font-size: 33px;  font-family:"Microsoft JhengHei"; color:rgb(112, 61, 2);background-image: linear-gradient( 135deg, #FCCF31 10%, #F55555 100%);}

#fillCan {font: italic bold 40px/30px Georgia, serif; color: brown; background-image: linear-gradient( 135deg, #FFF6B7 10%, #F6416C 100%);}

#buttBrush {font: 25px impact; background-image: linear-gradient( 135deg, #90F7EC 10%, #32CCBC 100%);}
#roundBrush {font: 25px impact; background-image: linear-gradient( 135deg, #90F7EC 10%, #32CCBC 100%);}
#squareBrush {font: 25px impact; background-image: linear-gradient( 135deg, #90F7EC 10%, #32CCBC 100%);}

#OpFile {font-size: 30px; background-image: linear-gradient( 135deg, #FEB692 10%, #EA5455 100%);}

#file{display: hidden; opacity: 0;}

#REON{font:  bold 35px Georgia, serif; color: rgb(252, 41, 41); background-image: linear-gradient( 135deg, #FFF6B7 10%, #F6416C 100%);}
#ERASE{font:  bold 35px Georgia, serif; color: rgb(77, 2, 57); background-color: rgb(209, 233, 255);}

#download{ font: bold 25px Georgia, serif; color:rgb(85, 9, 104);background-image: linear-gradient( 135deg, #CE9FFC 10%, #7367F0 100%);}

#size{ font: bold 18px Courier New; color:rgb(85, 9, 104);background-color: rgb(255, 254, 242);}
#text_context{ font: bold 22px Courier New; color:rgb(85, 9, 104);background-color:rgb(255, 254, 242);}
#text{ font: bold 26px Arial; color:rgb(228, 72, 144);background-color:rgb(255, 254, 242);}
#font_style{ font: bold 24px Arial;color:rgb(85, 9, 104);background-color:rgb(255, 254, 242);}